<h1>Bibliothèque Audio</h1>

<mat-tab-group mat-align-tabs="end">
    <mat-tab label="Liste des albums">
        <div id="albums">
            <section class="sorter">
                <label>Trier par date de sortie :</label>
                <mat-radio-group name="1" (change)="sortAlbums($event.value)">
                    <mat-radio-button name="1" color="primary" labelPosition="before" value="croissant" checked="true">Croissante</mat-radio-button>
                    <mat-radio-button name="1" color="primary" labelPosition="before" value="decroissant">Décroissante</mat-radio-button>
                </mat-radio-group>
            </section>
            <section>
                <app-albums *ngFor="let album of albumsSorted" [album]="album"></app-albums>
            </section>
        </div>
    </mat-tab>
    <mat-tab label="Liste des artistes">
        <div id="artistes">
            <section class="sorter">
                <label>Trier par nom d'artiste :</label>
                <mat-radio-group name="2" (change)="sortArtists($event.value)">
                    <mat-radio-button name="2" color="primary" labelPosition="before" value="croissant" checked="true">Croissant</mat-radio-button>
                    <mat-radio-button name="2" color="primary" labelPosition="before" value="decroissant">Décroissant</mat-radio-button>
                </mat-radio-group>
            </section>
            <section>
                <app-artists *ngFor="let artist of artistsSorted" [artist]="artist"></app-artists>
            </section>
        </div>
    </mat-tab>
    <mat-tab label="Catalogue">
        <div id="catalogue">
            <section class="sorter">
                <label>Trier par :</label>
                <mat-radio-group name="3" (change)="sortCatalogue($event.value)">
                    <mat-radio-button name="3" color="primary" labelPosition="before" value="prix_c" checked="true">Prix croissant</mat-radio-button>
                    <mat-radio-button name="3" color="primary" labelPosition="before" value="prix_d">Prix décroissant</mat-radio-button>
                    <mat-radio-button name="3" color="primary" labelPosition="before" value="titre_c">Titre croissant</mat-radio-button>
                    <mat-radio-button name="3" color="primary" labelPosition="before" value="titre_d">Titre décroissant</mat-radio-button>
                </mat-radio-group>
            </section>
            <section>
                <app-catalogue *ngFor="let album of catalogueSorted" [album]="album"></app-catalogue>
            </section>
        </div>
    </mat-tab>
</mat-tab-group>